<launch>
	<node name="i_believe_i_can_fly_person_detection" pkg="i_believe_i_can_fly_person_detection" type="node.py" respawn="true">
		<param name="showcase" value="true" />
		<param name="debug" value="false" />
	</node>
	<node name="i_believe_i_can_fly_pose_detection"   pkg="i_believe_i_can_fly_pose_detection" 	 type="node.py" respawn="true">
		<param name="debug" value="false" />
		<param name="mode" value="2D" />
	</node>
	<node name="i_believe_i_can_fly_airsim_connector" pkg="i_believe_i_can_fly_airsim_connector" type="node.py" respawn="true">
		<param name="debug" value="false" />
	</node>
</launch>
